#sectionNew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sectionNew h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.swiper-slide-active {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0);
}

.carouselItem {
  background-color: #ffffff;
  border: solid 1px black;
  box-shadow: 7px 7px 10px 0px rgba(87, 87, 87, 0.75);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.carouselItem > * {
  text-align: center;
}

.carouselItem h3 {
  margin: 0.5rem 0rem;
}

.carouselItem p {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.carouselItem button {
  width: fit-content;
  border: none;
  border-radius: 30px;
  background-color: #ffbf46;
  font-weight: bold;
  padding: 10px 15px;
  margin: 1rem 0rem;
}

.swiper-pagination {
  position: relative;
}
